



body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	margin-top: 50px;
}

.img-var-letter{
    width: 35px;
    opacity: 1;
}
.img-var-flag{
    width: 100px;
    opacity: 1;
}


.grid-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 10px;
	padding: 20px;
	margin: 0 auto;
	max-width: 800px;
}

.grid-item {
	border-radius: 5px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	transition: all 0.3s ease;
    display: flex;
    margin: 0 auto;
}


.thick-line {
	border: none;
	height: 5px;
	background-color: #555;
	margin: 0 auto;
    width: 820px;
    
}

@media screen and (max-width: 600px) {
	.grid-container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(15, 1fr);
		max-width: 90%;
	}
}

.grid-container:last-of-type {
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(1, 1fr);
}

label {
	display: block;
	margin: 20px auto 10px;
	text-align: center;
	font-size: 22px;
}

input[type="text"] {
	display: block;
	margin: 0 auto 20px;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 80%;
	max-width: 400px;
}


button {
	margin: 0 auto;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
    width: 200px;
}

.generate-btn {
	display: block;
	background-color: #007bff;
}

.generate-btn:hover {
	background-color: #0056b3;
}

.start-btn {
	display: none;
	background-color: #0a9c00;
}

.start-btn:hover {
	background-color: #00751f;
}

.solution-btn {
	display: none;
	background-color: #595959;
}

.solution-btn:hover {
	background-color: #222222;
}


@media screen and (max-width: 600px) {
	.grid-container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(10, 1fr);
		max-width: 90%;
	}
	
	input[type="text"] {
		width: 100%;
	}
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    left: 47%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }